.section-why {
  padding-top: 40px;
}

.title-gs {
  text-align: center;
  font-size: 22px;
  line-height: 1.55;
  margin-bottom: 24px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.advantages-item {
  padding: 24px 28px;
  border-top: 1px solid #c4cdd5;
  border-bottom: 1px solid #c4cdd5;
}

.advantages-item .list-icon {
  text-align: center;
  margin-bottom: 16px;
}

.advantages-item .text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #454f5b;
}

@media (min-width: 768px) {
  .section-why {
    padding-top: 50px;
  }

  .title-gs {
    font-size: 33px;
    line-height: 1.41;
    margin-bottom: 46px;
  }

  .advantages-list {
    gap: 20px;
  }

  .advantages-item {
    max-width: 229px;
    padding: 0px 15px;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #c4cdd5;
    border-right: 1px solid #c4cdd5;
  }

  .advantages-item .list-icon {
    margin-bottom: 24px;
  }
}

@media (min-width: 1158px) {
  .section-why {
    padding-top: 90px;
  }

  .title-gs {
    font-size: 44px;
    margin-bottom: 56px;
  }

  .advantages-list {
    gap: 30px;
  }

  .advantages-item {
    min-width: 352px;
    padding: 0px 24px;
  }

  .advantages-item .list-icon {
    margin-bottom: 32px;
  }

  .icon-li {
    width: 82px;
    height: 82px;
  }

  .advantages-item .text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
  }
}
