.container-list-equipment {
  margin-bottom: 24px;
}

.btn-reset {
  display: none;
}

.container-selected-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--light-grey);
  padding: 7px 16px;
  line-height: 1.62;
  color: var(--light-grey);
}

.container-selected-close:focus {
  border: 1px solid var(--main);
}

/* .container-selected-close.active .icon-close {
  fill: var(--main);
} */

.container-selected-close.active {
  color: var(--black);
}

.container-selected-close.filled {
  background-color: rgba(66, 149, 228, 0.04);
  border: 1px solid rgba(66, 149, 228, 0.2);
  color: var(--black);
}

.icon-close {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotate(-90deg);
  fill: var(--light-grey);
}

.icon-close.rotated {
  transform: rotate(0deg);
  fill: var(--main);
  transition: transform 0.3s ease;
}

.container-selected-close.filled .icon-close {
  fill: var(--black);
}

.list-equipment {
  display: none;
}

.list-equipment.active {
  display: block;
  box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

.item-equipment,
.container-selected-close {
  cursor: pointer;
}

.item-equipment {
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.67;
}

.item-equipment:hover {
  color: var(--main);
  background-color: #f7fbfe;
}

/*------------overhead-------------*/

.title-overhead {
  font-size: 16px;
  line-height: 1.62;
  padding-top: 4px;
  margin-bottom: 24px;
}

.overhead .btn-categories {
  margin-bottom: 24px;
}

.list-overhead {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.item-overhead:last-child {
  margin-bottom: 40px;
}

.description-overhead {
  padding: 10px 0px;
  box-shadow: inset -1px 0 0 0 var(--stroke), inset 1px 0 0 0 var(--stroke),
    inset 0 -1px 0 0 var(--stroke);
  background-color: var(--white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.foto-overhead {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.text-overhead {
  font-size: 14px;
  line-height: 171%;
  color: var(--grey);
  margin-bottom: 10px;
  padding-left: 10px;
}

.price {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .container-list-equipment {
    display: flex;
    /* justify-content: space-between; */
    gap: 44px;
  }

  .btn-reset {
    display: block !important;
    width: 220px;
    height: 40px;
    color: black;
    background-color: white;
    border: 1px solid var(--light-blue);
    font-weight: 400;
    line-height: 1.62;
  }

  .container-selected-close {
    width: 194px;
    height: 40px;
  }

  .overhead .btn-categories {
    margin: 0;
  }

  .btn-categories {
    display: none;
  }

  .list-overhead {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 15px;
    margin-bottom: 24px;
    justify-content: flex-start;
  }

  .item-overhead {
    width: 221px;
  }
}

@media (min-width: 1158px) {
  .container-list-equipment {
    gap: 383px;
  }

  .btn-reset {
    width: 270px;
  }
}
