.title-overhead {
  font-size: 16px;
  line-height: 1.62;
  padding-top: 4px;
  margin-bottom: 24px;
}

.overhead .btn-categories {
  margin-bottom: 24px;
}

.filter-popularity-input {
  border: 1px solid var(--light-grey);
  padding: 7px 16px;
  width: 343px;
  height: 40px;
  margin-bottom: 24px;
}

.list-overhead {
  display: grid;
  gap: 16px;
  justify-content: center;
}

.item-overhead:last-child {
  margin-bottom: 40px;
}

.description-overhead {
  padding: 10px 0px;
  box-shadow: inset -1px 0 0 0 var(--stroke), inset 1px 0 0 0 var(--stroke),
    inset 0 -1px 0 0 var(--stroke);
  background-color: var(--white);
}

.text-overhead {
  font-size: 14px;
  line-height: 171%;
  color: var(--grey);
  margin-bottom: 10px;
  padding-left: 10px;
}

.price {
  padding-left: 10px;
}

@media (min-width: 768px) {
  .btn-categories {
    display: none;
  }

  .list-overhead {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 15px;
    margin-bottom: 24px;
    justify-content: flex-start;
  }

  .item-overhead {
    width: 221px;
  }
}
