/* overflow: overlay; */
.characteristics {
}
.container {
}

.list-characteristics {
  display: flex;
  overflow: overlay;
  gap: 30px;
}

.item-characteristics {
}
.foto-overhead {
  max-width: 250px;
  height: 100%;
}
.gallery {
}
