.footer {
  background-color: #0d2436;
  padding: 32px 0px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logo-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
}

.icon-li {
}

.list-network {
  display: flex;
  gap: 24px;
}

.item-network {
}

.link-network {
}

.link-network .icon {
  fill: #ffffff;
}

.container-nav-address {
  display: flex;
  gap: 40px;
}

.page-nav {
  display: flex;
  flex-direction: column;
  gap: 76px;
}

.title-page-nav,
.title-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 12px;
}

.list-page-nav,
.list-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .item-page-nav, */
/* .item-contacts, */
.text-contacts {
  margin-bottom: 12px;
}

.item-page-nav .link,
.list-contacts .link-contacts {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-tel-email {
}

.title-contacts {
}

.list-contacts {
}

.item-contacts {
  min-width: 127px;
}

.address-contacts {
  max-width: 140px;
}

.text-contacts {
  font-weight: 300;
  font-size: 12px;
  color: #c4cdd5;
}

.link-contacts {
}

.other {
}

.our-address {
}

.contacts-bottom {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer {
  }

  .footer .container {
    flex-direction: row;
  }

  .logo-network {
    flex-direction: column;
  }

  .logo {
  }
  .icon-li {
  }
  .list-network {
  }
  .item-network {
  }
  .link-network {
  }
  .icon {
  }
  .container-nav-address {
    gap: 24px;
  }

  .page-nav {
    flex-direction: row;
    gap: 24px;
  }

  .title-page-nav {
  }
  .list-page-nav {
  }
  .item-page-nav {
  }
  .link {
  }
  .other {
  }
  .title-contacts {
  }
  .list-contacts {
  }
  .contacts-bottom {
  }
  .item-contacts {
  }
  .link-contacts {
  }

  .contacts {
    flex-direction: row;
  }

  .container-tel-email {
  }
  .text-contacts {
  }
  .our-address {
  }
  .address-contacts {
  }
}

@media (min-width: 1158px) {
  .footer {
    padding: 55px 0px;
  }

  .footer .container {
    justify-content: center;
    gap: 196px;
  }

  .logo-network {
  }
  .logo {
  }
  .icon-li {
  }
  .list-network {
  }
  .item-network {
  }
  .link-network {
  }
  .icon {
  }
  .container-nav-address {
  }

  .container-nav-address,
  .page-nav,
  .contacts {
    gap: 97px;
  }

  .container-title-page-nav {
  }

  .title-page-nav,
  .title-contacts {
    margin-bottom: 24px;
  }

  .list-page-nav {
    gap: 16px;
  }

  .item-page-nav {
  }
  .link {
  }
  .other {
  }
  .title-contacts {
  }
  .list-contacts {
  }
  .contacts-bottom {
  }
  .item-contacts {
  }
  .link-contacts {
  }
  .contacts {
  }
  .container-tel-email {
  }

  .text-contacts {
    margin-bottom: 16px;
  }

  .our-address {
  }
  .address-contacts {
  }
}
