/*--------header---------- */
.menu-heart-basket,
.menu {
  display: none;
}

.header-address {
  display: block;
  padding: 25px 0px;
}

.container-logo {
  display: block;
}

/*--------placingAnOrder---------- */
.placing-order .container {
  padding: 26px 16px;
}

.placing-order {
}
.container {
}

.title-placing-order {
  font-size: 22px;
  line-height: 1.55;
  margin-bottom: 16px;
}

.form-placing-order {
}

.container-label {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.text-placing-order {
  line-height: 1.62;
  margin-bottom: 12px;
}

.label-placing-order,
.container-comment {
  display: grid;
  gap: 4px;
}

.span-placing-order,
.label-comment {
  font-size: 12px;
  line-height: 1.67;
  color: var(--grey);
}

.input-placing-order {
  border: 1px solid #ebecec;
  height: 44px;
  font-size: 14px;
  padding: 10px 12px;
}

.container-delivery,
.container-payment {
  display: grid;
  gap: 10px;
  margin-bottom: 24px;
}

.label-delivery,
.label-payment {
  display: flex;
  gap: 8px;
}

.span-delivery,
.span-payment {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

.container-comment {
  margin-bottom: 24px;
}

.label-comment {
}

.form-textarea {
  border: 1px solid #ebecec;
  height: 100px;
  font-size: 14px;
  line-height: 1.71;
  padding: 12px;
}

.order-cart-preview {
  border: 1px solid var(--stroke);
  margin-bottom: 24px;
}

.title-order-cart {
  font-size: 18px;
  line-height: 1.56;
  border-bottom: 1px solid var(--stroke);
  padding: 16px 16px 12px 16px;
}

.container-order-cart {
  padding: 16px 16px 12px 16px;
}

#order-cart-list {
  display: grid;
  gap: 10px;
  margin-bottom: 10px;
}

.order-cart-item {
  display: flex;
  gap: 6px;
}

.remove-item {
  display: none;
}

.order-cart-item.edit-mode .remove-item {
  display: block;
}

.edit-cart-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
}

.edit-cart-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main);
}

/*--------placingAnOrder.js---------- */
.order-cart-img {
  width: 70px;
  height: 60px;
}

.order-cart-info {
  display: flex;
  gap: 15px;
}

.order-cart-name {
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.container-cart-name-price {
  max-width: 180px;
}

.order-cart-controls {
  display: flex;
}

.qty-btn {
}
.minus {
}
.qty-count {
}
.plus {
}
.remove-item {
}

.order-cart-price {
  font-size: 14px;
  line-height: 1.71;
  margin-right: 8px;
}

.container-order-cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.order-cart-total {
  font-size: 14px;
  line-height: 1.71;
}

.order-cart-total-price {
  font-weight: 500;
  font-size: 14px;
}
