/*--------header---------- */
.menu-heart-basket,
.menu {
  display: none;
}

.header-address {
  display: block;
  padding: 25px 0px;
}

.container-logo {
  display: block;
}

/*--------placingAnOrder---------- */
.placing-order .container {
  padding: 26px 16px;
}

.placing-order {
}
.container {
}

.title-placing-order {
  font-size: 22px;
  line-height: 1.55;
  margin-bottom: 16px;
}

.form-placing-order {
}

.container-label {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.text-placing-order {
  line-height: 1.62;
  margin-bottom: 12px;
}

.label-placing-order,
.container-comment {
  display: grid;
  gap: 4px;
}

.span-placing-order,
.label-comment {
  font-size: 12px;
  line-height: 1.67;
  color: var(--grey);
}

.input-placing-order {
  border: 1px solid #ebecec;
  height: 44px;
  font-size: 14px;
  padding: 10px 12px;
}

.container-delivery,
.container-payment {
  display: grid;
  gap: 10px;
  margin-bottom: 24px;
}

.label-delivery,
.label-payment {
  display: flex;
  gap: 8px;
}

.span-delivery,
.span-payment {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey);
}

.container-comment {
  margin-bottom: 24px;
}

.label-comment {
}

.form-textarea {
  border: 1px solid #ebecec;
  height: 100px;
  font-size: 14px;
  line-height: 1.71;
  padding: 12px;
}
