<section>
  <div class="container">
    <nav class="nav-section-categories">
      <ul class="list-nav-section-categories">
        <li class="item-nav-section-categories">
          <a href="../../index.html" class="home-logo">
            <svg class="icon-home" width="20" height="20">
              <use href="/img/icons.svg#icon-Home"></use>
            </svg>
          </a>
        </li>
        <li class="item-nav-section-categories">
          <a
            href="http://localhost:5174/castle-on-saltovka/index.html"
            class="link-nav-categories"
            >Головна</a
          >
        </li>
        <li class="item-nav-section-categories">/</li>
        <li class="item-nav-section-categories">
          <a href="#" class="link-nav-section-categories">Каталог</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
