.section-popular {
  padding-bottom: 36px;
}

.container-titie-five {
  margin-bottom: 24px;
}

.btn-popular {
  display: none;
}

.title-five {
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
}

.list-five {
  display: flex;
  overflow: overlay;
  gap: 30px;
}

.item-five {
  min-width: 288px;
  box-shadow: inset -1px 0 0 0 #eaeaea, inset 1px 0 0 0 #eaeaea,
    inset 0 -1px 0 0 #eaeaea;
  border-radius: 0px 0px 4px 4px;
}

.text-price-five {
  padding: 10px 12px;
}

.text-five {
  font-size: 16px;
  line-height: 1.62;
  color: #454f5b;
  margin-bottom: 10px;
}

.price-five {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 768px) {
  .section-popular {
    padding-bottom: 60px;
  }

  .container-titie-five {
    margin-bottom: 44px;
  }

  .title-five {
    font-size: 33px;
    line-height: 1.41;
  }
}

@media (min-width: 1158px) {
  .section-popular {
    padding-bottom: 96px;
  }

  .container-titie-five {
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container-btn-popular {
    display: flex;
    gap: 40px;
  }

  .btn-popular {
    display: contents;
    /* height: 40px;
    width: 40px; */
  }

  .btn-popular .icon-chevron-left,
  .btn-popular .icon-chevron-tright {
    width: 40px;
    height: 40px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }

  .btn-popular .icon-chevron-tright:hover,
  .btn-popular .icon-chevron-left:hover {
    background-color: #4295e4;
    border-radius: 3px;
    fill: #ffffff;
  }

  .btn-popular .icon-chevron-left:active,
  .btn-popular .icon-chevron-tright:active {
    fill: #c4cdd5;
  }

  .title-five {
    font-size: 44px;
    text-align: left;
  }
}

/* basicLightbox Библиотека*/
.basicLightbox__placeholder > img:first-child:last-child {
  width: revert-layer;
}

.basicLightbox {
  background: rgba(0, 0, 0, 0.8);
}
