<section class="filter">
  <div class="container">
    <h3>Фільтр</h3>

    <div class="filter-section">
      <button class="filter-toggle" data-target="price-content">
        Ціна
        <svg class="icon" width="14" height="8">
          <use href="/img/icons.svg#icon-arr-down"></use>
        </svg>
      </button>
      <div class="filter-content" id="price-content" hidden>
        <div class="price-inputs">
          <input type="text" placeholder="від" value="79 000" />
          <input type="text" placeholder="до" value="24 500" />
        </div>
        <div class="price-slider">
          <input type="range" min="0" max="100000" value="24500" />
          <input type="range" min="0" max="100000" value="79000" />
        </div>
      </div>
    </div>

    <!-- Особливості -->
    <div class="filter-section">
      <button class="filter-toggle" data-target="features-content">
        Особливості
        <svg class="icon" width="14" height="8">
          <use href="/img/icons.svg#icon-arr-down"></use>
        </svg>
      </button>
      <div class="filter-content" id="features-content" hidden>
        <label><input type="checkbox" /> Електронні кодові замки </label>
        <label><input type="checkbox" /> Біометричні замки </label>
        <label><input type="checkbox" /> Замок з відбитком</label>
        <label><input type="checkbox" /> Замок із безконтактною карткою </label>
        <label><input type="checkbox" /> Програмовані замки </label>
        <label><input type="checkbox" /> Замки на батарейках </label>
        <label><input type="checkbox" /> Замки з віддаленим доступом </label>
        <label><input type="checkbox" /> Bluetooth замки </label>
        <label><input type="checkbox" /> Електронні замки для квартири </label>
        <label><input type="checkbox" /> Замки для скляних дверей </label>
        <label><input type="checkbox" /> Електронні циліндри </label>
      </div>
    </div>

    <!-- Колір -->
    <div class="filter-section">
      <button class="filter-toggle" data-target="color-content">
        Колір
        <svg class="icon" width="14" height="8">
          <use href="/img/icons.svg#icon-arr-down"></use>
        </svg>
      </button>
      <div class="filter-content" id="color-content" hidden>
        <label><input type="checkbox" /> Сатиновий хром </label>
        <label><input type="checkbox" /> Полірований хром </label>
        <label><input type="checkbox" /> Нержавіюча сталь</label>
        <label><input type="checkbox" /> Нікель </label>
        <label><input type="checkbox" /> Шліфований нікель </label>
        <label><input type="checkbox" /> Золото </label>
        <label><input type="checkbox" /> Латунь </label>
        <label><input type="checkbox" /> Антикварна латунь </label>
        <label><input type="checkbox" /> Чорний матовий </label>
        <label><input type="checkbox" /> Графіт </label>
        <label><input type="checkbox" /> Бронза </label>
        <label><input type="checkbox" /> Масляна бронза </label>
        <label><input type="checkbox" /> Білий </label>
        <label><input type="checkbox" /> Сірий </label>
      </div>
    </div>

    <!-- Матеріал -->
    <div class="filter-section">
      <button class="filter-toggle" data-target="material-content">
        Матеріал
        <svg class="icon" width="14" height="8">
          <use href="/img/icons.svg#icon-arr-down"></use>
        </svg>
      </button>
      <div class="filter-content" id="material-content" hidden>
        <label><input type="checkbox" /> Сталь </label>
        <label><input type="checkbox" /> Бронза </label>
        <label><input type="checkbox" /> Латунь</label>
        <label><input type="checkbox" /> Алюміній </label>
        <label><input type="checkbox" /> Чавун </label>
        <label><input type="checkbox" /> Нержавіюча сталь </label>
        <label><input type="checkbox" /> Цинковий сплав </label>
        <label><input type="checkbox" /> Пластик </label>
        <label><input type="checkbox" /> Мідь </label>
        <label><input type="checkbox" /> Титан </label>
      </div>
    </div>

    <!-- Тип дверей -->
    <div class="filter-section">
      <button class="filter-toggle" data-target="door-type-content">
        Тип дверей
        <svg class="icon" width="14" height="8">
          <use href="/img/icons.svg#icon-arr-down"></use>
        </svg>
      </button>
      <div class="filter-content" id="door-type-content" hidden>
        <label><input type="checkbox" /> Вхідні двері </label>
        <label><input type="checkbox" /> Межкомнатні двері </label>
        <label><input type="checkbox" /> Розсувні двері</label>
        <label><input type="checkbox" /> Скляні двері </label>
        <label><input type="checkbox" /> Дерев’яні двері </label>
        <label><input type="checkbox" /> Металеві двері </label>
        <label><input type="checkbox" /> Балконні двері </label>
      </div>
    </div>
  </div>
</section>
