<!----------menu-mobal--is-open----------->
<section class="filter modal-menu-overlay" filter-menu>
  <div class="container">
    <div class="filter-container">
      <div class="container-icon-title">
        <button type="button" class="btn-close-filter" filter-menu-close>
          <svg class="icon-close" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <h3 class="filter-title">Фільтр</h3>
      </div>

      <div class="filter-section">
        <button class="filter-toggle" data-target="price-content">
          Ціна
          <svg class="icon-filter" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <div class="filter-content" id="price-content" hidden>
          <div class="container-price-inputs">
            <input
              type="text"
              class="price-inputs"
              placeholder="від"
              value="0"
            />
            <input
              type="text"
              class="price-inputs"
              placeholder="до"
              value="10000"
            />
          </div>
          <div class="container-price-slider">
            <input
              type="range"
              class="price-slider"
              min="0"
              max="10000"
              value="0"
            />
            <input
              type="range"
              class="price-slider"
              min="0"
              max="10000"
              value="10000"
            />
          </div>
        </div>
      </div>

      <!-- Особливості -->
      <div class="filter-section">
        <button class="filter-toggle" data-target="features-content">
          Особливості
          <svg class="icon-filter" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <ul class="filter-content" id="features-content" hidden>
          <li class="filter-item">
            <label><input type="checkbox" /> Електронні кодові замки </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Біометричні замки </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Замок з відбитком</label>
          </li>
          <li class="filter-item">
            <label
              ><input type="checkbox" /> Замок із безконтактною карткою
            </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Програмовані замки </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Замки на батарейках </label>
          </li>
          <li class="filter-item">
            <label
              ><input type="checkbox" /> Замки з віддаленим доступом
            </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Bluetooth замки </label>
          </li>
          <li class="filter-item">
            <label
              ><input type="checkbox" /> Електронні замки для квартири
            </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Замки для скляних дверей </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Електронні циліндри </label>
          </li>
        </ul>
      </div>

      <!-- Колір -->
      <div class="filter-section">
        <button class="filter-toggle" data-target="color-content">
          Колір
          <svg class="icon-filter" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <ul class="filter-content" id="color-content" hidden>
          <li class="filter-item">
            <label><input type="checkbox" /> Сатиновий хром </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Полірований хром </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Полірований хром </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Нержавіюча сталь</label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Нікель </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Шліфований нікель </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Золото </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Латунь </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Антикварна латунь </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Чорний матовий </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Графіт </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Бронза </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Масляна бронза </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Білий </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Сірий </label>
          </li>
        </ul>
      </div>

      <!-- Матеріал -->
      <div class="filter-section">
        <button class="filter-toggle" data-target="material-content">
          Матеріал
          <svg class="icon-filter" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <ul class="filter-content" id="material-content" hidden>
          <li class="filter-item">
            <label><input type="checkbox" /> Сталь </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Бронза </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Латунь</label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Алюміній </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Чавун </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Нержавіюча сталь </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Цинковий сплав </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Пластик </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Мідь </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Титан </label>
          </li>
        </ul>
      </div>

      <!-- Тип дверей -->
      <div class="filter-section">
        <button class="filter-toggle" data-target="door-type-content">
          Тип дверей
          <svg class="icon-filter" width="14" height="8">
            <use href="/img/icons.svg#icon-arr-down"></use>
          </svg>
        </button>
        <ul class="filter-content" id="door-type-content" hidden>
          <li class="filter-item">
            <label><input type="checkbox" /> Вхідні двері </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Межкомнатні двері </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Розсувні двері</label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Скляні двері </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Дерев’яні двері </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Металеві двері </label>
          </li>
          <li class="filter-item">
            <label><input type="checkbox" /> Балконні двері </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter-button">
      <button
        type="button"
        class="btn-categories btn-show"
        id="btn-show-categories"
        filter-menu-close
      >
        Показати
      </button>
      <button
        type="button"
        class="btn-categories btn-reset-filters btn-reset-two"
      >
        Скинути фільтри
      </button>
    </div>
  </div>
</section>
