.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo,
.header-nav,
.header-address {
  display: none;
}

.header-address {
  font-style: normal;
}

.header-list-contacts {
}
.header-item-contacts {
}
.header-tel {
  font-size: 18px;
  color: grey;
}

.menu {
}

.menu-button {
  padding: 21px 0px;
}

.menu-icon {
}

.menu-heart-basket {
  display: flex;
  gap: 16px;
}

.menu-button-basket,
.menu-button-heart {
  padding: 17px 0px;
  fill: #454f5b;
}

.modal-menu-overlay .container {
}

.modal-menu-overlay .container-menu-nav-address {
  box-shadow: none;
  padding-top: 70px;
  padding-bottom: 40px;
  align-items: normal;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.menu-close {
  position: absolute;
  top: 23px;
  fill: #161c24;
}

.mobal-menu-button {
  position: absolute;
  top: 17px;
  right: 16px;
  fill: #454f5b;
}

.hopping-cart {
  right: 64px;
}

.menu-close-icon {
}

.menu-heart-basket {
}

.menu-button-heart {
  position: relative;
}

.menu-icon {
}

.menu-button-basket {
}

.menu-line {
  width: 100%; /* или фиксированная ширина, например 300px */
  max-width: 100vw; /* ограничить шириной окна */
  border-radius: 50px;
  height: 2px;
  background-color: #c4cdd5;
  left: 0;
  top: 70px;
  position: absolute;
}

.menu-mobal-nav {
}

.menu-mobal-list {
  display: grid;
  gap: 16px;
}

.menu-mobal-item {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 16px;
}

.menu-mobal-item:first-child {
  padding: 24px 0 16px;
}

.menu-mobal-link {
  font-size: 16px;
  line-height: 1.62;
  color: #454f5b;
}

.menu-mobal-address {
}

.menu-mobal-address-list {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.menu-mobal-address-item {
  position: relative;
}

.menu-mobal-address-item:first-child {
  width: 235px;
}

.icon-li-phone {
  fill: #4295e4;
  position: absolute;
}

.menu-mobal-address-item .menu-link-contacts {
  font-size: 14px;
  color: #454f5b;
  padding-left: 26px;
}

.menu-mobal-link-contacts {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.12em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4295e4;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

/*-----------mobal-basket-------------*/
.cart-overlay {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.cart-count {
  display: none;
  position: absolute;
  background-color: #1e90ff;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  top: 15px;
  right: 0;
}

.cart-modal {
  position: fixed;
  width: 343px;
  padding: 24px 16px;
  background-color: white;
  max-height: 100vh;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.basket-btn-close {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.basket-title {
  font-weight: 400;
  line-height: 1.62;
}

.cart-items-list {
  margin-bottom: 16px;
  max-height: 235px;
  overflow: overlay;
}

#wholesale-warning {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 16px;
}

#cart-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 16px;
}

.title-offer {
  font-weight: 400;
  line-height: 1.62;
  margin-bottom: 8px;
}

.list-offer {
  max-height: 150px;
  overflow: overlay;
  display: grid;
  gap: 16px;
}

.item-offer {
  display: flex;
  justify-content: space-between;
}

.container-img-text-price {
  display: flex;
  gap: 8px;
}

.img-offer {
  width: 70px;
  height: 73px;
}

.container-text-price {
  display: grid;
  gap: 23px;
}

.text-offer {
  font-size: 12px;
  line-height: 1.5;
}

.price-offer {
  font-size: 12px;
  display: grid;
  align-items: end;
}

.btn-offer {
  display: flex;
  align-items: start;
}

.img-plus {
  fill: var(--main);
}

.text-plus {
  display: none;
}

#cart-actions {
  display: grid;
  gap: 16px;
  padding-top: 25px;
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.25);
}

.order-basket {
  min-width: 100%;
  height: 50px;
  background-color: var(--main);
  font-weight: 500;
  color: var(--white);
  border-radius: 4px;
  text-align: center;
  line-height: 50px;
}

.continue-shopping {
  min-width: 100%;
  height: 50px;
  border: 1px solid var(--light-blue);
  line-height: 1.62;
  border-radius: 4px;
}

.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.cart-item-image {
  width: 70px;
  height: auto;
  object-fit: contain;
}

.cart-item-info {
  display: grid;
  gap: 15px;
  flex: 1;
}

.container-name-remove {
  display: flex;
  gap: 30px;
}

.cart-item-name {
  font-size: 12px;
  line-height: 150%;
}

.cart-item-price {
  font-size: 14px;
  line-height: 1.71;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty-btn {
  width: 24px;
  height: 24px;
  line-height: 1;
}

.qty-btn:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.qty-minus {
  color: #000;
}

.qty-count {
  border: 1px solid #ccc;
  width: 40px;
  height: 23px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 12px;
}

.qty-plus {
  color: #000;
}

.qty-minus:active,
.qty-plus:active {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.76);
}

.remove-item {
  font-size: 12px;
  cursor: pointer;
  color: var(--main);
}

.basket-delete-svg {
  display: none;
}

.container-quantity-price {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .menu {
    display: none;
  }

  .container-logo,
  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 32px;
    padding: 29px 0px;
  }

  .header-nav-link {
    font-weight: 300;
    font-size: 20px;
    color: #161c24;
  }

  .menu-heart-basket {
    gap: 24px;
  }

  .menu-button-basket,
  .menu-button-heart {
    padding: 23px 0;
  }

  /*-----------mobal-basket-------------*/
  .cart-item-image {
    width: 136px;
  }

  .cart-item-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 0;
  }

  .container-name-remove {
    justify-content: space-between;
  }

  .cart-item-name {
    font-size: 16px;
    line-height: 1.62;
  }

  .remove-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 1.62;
  }

  .basket-delete-svg {
    display: block;
  }

  .container-quantity-price {
  }
  .cart-item-quantity {
  }
  .qty-btn {
  }
  .minus {
  }

  .qty-count {
    width: 60px;
    height: 32px;
    font-size: 14px;
  }

  .plus {
  }

  .cart-item-price {
    font-size: 16px;
    line-height: 1.62;
  }

  .cart-label {
    line-height: 1.62;
    align-items: end;
    display: grid;
  }

  .cart-amount {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
  }

  .container {
  }
  .cart-overlay {
  }
  .hidden {
  }

  .cart-modal {
    width: 650px;
    padding: 24px 40px;
  }

  .cart-content {
  }

  .basket-btn-close {
    margin-bottom: 24px;
  }

  .basket-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
  }

  .btn-close {
  }
  .menu-close-icon {
  }
  .cart-items-list {
  }

  #wholesale-warning {
    font-size: 14px;
    line-height: 1.57;
  }

  #cart-total {
    justify-content: start;
    gap: 8px;
    margin-bottom: 8px;
    border-bottom: none;
    padding-bottom: 0;
  }

  #cart-actions {
    display: flex;
    gap: 0;
    padding-top: 0;
    box-shadow: none;
    justify-content: space-between;
    padding-bottom: 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e7e9fc;
  }

  .order-basket,
  .continue-shopping {
    width: 249px;
    height: 44px;
    min-width: 249px;
    line-height: 1.62;
  }

  .order-basket {
    line-height: 44px;
  }

  .order-basket:active,
  .continue-shopping:active {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(0.96);
  }

  .order-basket:hover {
    background-color: #2e81d0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .continue-shopping:hover {
    background-color: #56a9f8;
    color: var(--white);
  }

  .cart-count {
    top: 20px;
  }

  .container-offers {
    display: flex;
    flex-direction: column-reverse;
  }

  .title-offer {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
  }

  .list-offer {
  }
  .item-offer {
  }

  .container-img-text-price {
    gap: 14px;
  }

  .img-offer {
    width: 102px;
    height: 90px;
  }

  .container-text-price {
  }

  .text-offer,
  .price-offer {
    font-size: 14px;
    line-height: 1.71;
  }

  .price-offer {
  }

  .btn-offer {
    gap: 12px;
  }

  .img-plus {
  }

  .text-plus {
    display: block;
    color: var(--main);
  }
}

@media (min-width: 1158px) {
  .header {
  }
  .container {
  }
  .container-logo {
  }
  .header-logo {
  }

  .header-icon:hover {
    transform: scale(1.15);
  }

  .header-nav {
  }
  .header-nav-list {
  }
  .header-nav-item {
  }

  .header-nav-link:hover,
  .header-tel:hover {
    color: #2e81d0;
  }

  .header-address {
    display: block;
  }

  .header-list-contacts {
  }

  .header-item-contacts {
  }

  .header-tel {
  }

  .menu {
  }
  .menu-button {
  }
  .menu-icon {
  }

  .menu-heart-basket {
    gap: 32px;
  }

  .menu-button-heart:hover,
  .menu-button-basket:hover {
    fill: #2e81d0;
    transform: scale(1.15);
  }

  .menu-button-basket {
  }
  .modal-menu-overlay {
  }
  .container-menu-nav-address {
  }
  .menu-close {
  }
  .menu-close-icon {
  }
  .mobal-menu-button {
  }
  .hopping-cart {
  }
  .menu-line {
  }
  .menu-mobal-nav {
  }
  .menu-mobal-list {
  }
  .menu-mobal-item {
  }
  .menu-mobal-link {
  }
  .menu-mobal-address {
  }
  .menu-mobal-address-list {
  }
  .menu-mobal-address-item {
  }
  .icon-li-phone {
  }

  .menu-link-contacts {
  }
  .menu-item-width {
  }
  .menu-mobal-link-contacts {
  }

  /*-----------mobal-basket-------------*/
  .container {
  }
  .cart-overlay {
  }
  .hidden {
  }

  .cart-modal {
    width: 850px;
  }

  .cart-content {
  }
  .basket-btn-close {
  }
  .basket-title {
  }
  .btn-close {
  }
  .menu-close-icon {
  }
  .cart-items-list {
  }
  .wholesale-warning {
  }
  .container-offers {
  }
  .container-offer {
  }
  .title-offer {
  }
  .list-offer {
  }
  .item-offer {
  }
  .container-img-text-price {
  }
  .img-offer {
  }
  .container-text-price {
  }
  .text-offer {
  }
  .price-offer {
  }
  .btn-offer {
  }
  .img-plus {
  }
  .text-plus {
  }
  .order-basket {
  }
  .continue-shopping {
  }

  .container-wholesale-sales {
    display: flex;
    gap: 16px;
  }

  .wholesale-warning-copy {
  }

  .cart-item-image {
  }
  .cart-item-info {
  }
  .container-name-remove {
  }
  .cart-item-name {
  }
  .remove-item {
  }
  .basket-delete-svg {
  }
  .container-quantity-price {
  }
  .cart-item-quantity {
  }
  .qty-btn {
  }
  .minus {
  }
  .qty-count {
  }
  .plus {
  }
  .cart-item-price {
  }
  .cart-label {
  }
  .cart-amount {
  }
}
