<section class="section-callback">
  <div class="container">
    <h2 class="title-callback">Ми Вам передзвонимо</h2>

    <p class="text-callback">
      Якщо у вас виникли питання або проблеми, заповніть форму і ми Вам
      передзвонимо.
    </p>

    <form class="form-callback" name="issue_report_form" autocomplete="on">
      <label class="form-label">
        <input
          class="form-input"
          type="text"
          name="user-name"
          placeholder="Ваше ім'я"
          required
        />
      </label>

      <label class="form-label">
        <input
          class="form-input"
          type="tel"
          name="phone"
          placeholder="Ваш номер телефону"
          required
        />
      </label>

      <button class="btn-four" type="submit">Відправити</button>
    </form>
  </div>
</section>
