<section class="section-call-back">
    <div class="container">

        <h2 class="title-six">Ми Вам передзвонимо</h2>
        <p class="text-six">Якщо у вас виникли питання або проблеми, заповніть форму і ми Вам передзвонимо.</p>

        <form class="form" name="issue_report_form" autocomplete="off">
            <label class="form-label"  for="user-name"></label>
            <input class="form-input"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Ваше ім'я"/>

            <label class="form-label" for="user-phone"></label>
                <input class="form-input"
                type="tel"
                name="phone"
                id="user-phone"
                autocomplete="on"
                placeholder="Ваш номер телефону"/>

            <button class="button-addition button-four" type="submit">Відправити</button>
        </form>
    </div>
</section>