<section class="section-categories">
    <div class="container">

        <h2 class="title-four">Категорії</h2>
        <ul class="list-four">
            <li class="item-four">
                <picture>
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/ДляГотелів/mobile/фото.jpg 1x, ./images/ДляГотелів/mobile/фото2x.jpg 2x">
                    <img 
                    src="./images/ДляГотелів/mobile/фото.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-four">
                </picture>
                <p class="text-four">Для готелів</p>
            </li>
            <li class="item-four">
                <picture>
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/ДляШафок/mobile/Навесний.jpg 1x, ./images/ДляШафок/mobile/Навесний@2x.jpg 2x">
                    <img 
                    src="./images/ДляШафок/mobile/Навесний.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-four">
                </picture>
                <p class="text-four">Для шафок</p>
            </li>
            <li class="item-four">
                <picture>
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/ДляОфісів/mobile/Rectangle.jpg 1x, ./images/ДляОфісів/mobile/Rectangle@2x.jpg 2x">
                    <img 
                    src="./images/ДляОфісів/mobile/Rectangle.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-four">
                </picture>
                <p class="text-four">Для офісів</p>
            </li>
            <li class="item-four">
                <picture>
                    <source 
                    media="(max-width:767px)"
                    srcset="./images/Аксесуари/mobile/РучкаФото.jpg 1x, ./images/Аксесуари/mobile/РучкаФото@2x.jpg 2x">
                    <img 
                    src="./images/Аксесуари/mobile/РучкаФото.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-four">
                </picture>
                <p class="text-four text-four-bottom">Аксесуари</p>
            </li>
        </ul>

        <button type="button" class="button-addition button-four">Усі категорії</button>
    </div>
</section>