<section class="section-categories">
    <div class="container">

        <h2 class="title-categories">Категорії</h2>
        <ul class="list-categories">
            <li class="item-categories">
                <picture>
                    <source 
                    media="(min-width:768px)" 
                    srcset="/img/categories/Desktop/home/hotel@1x.png 1x, /img/categories/Desktop/home/hotel@2x.png 2x"
                    width="350">
                    <source 
                    media="(max-width:767px)"
                    srcset="/img/categories/mobile/home/hotel@1x.jpg 1x, /img/categories/mobile/home/hotel@2x.jpg 2x">
                    <img 
                    src="/img/categories/mobile/home/hotel@1x.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-categories">
                </picture>
                <p class="text-categories">Для готелів</p>
                <button type="button" class="btn-item-categories">Перейти</button>
            </li>
            <li class="item-categories">
                <picture>
                    <source 
                    media="(min-width:768px)" 
                    srcset="/img/categories/Desktop/home/locker@1x.png 1x, /img/categories/Desktop/home/locker@2x.png 2x"
                    width="350">
                    <source 
                    media="(max-width:767px)"
                    srcset="/img/categories/mobile/home/locker@1x.jpg 1x, /img/categories/mobile/home/locker@2x.jpg 2x">
                    <img 
                    src="/img/categories/mobile/home/locker@1x.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-categories">
                </picture>
                <p class="text-categories">Для шафок</p>
                <button type="button" class="btn-item-categories">Перейти</button>
            </li>
            <li class="item-categories">
                <picture>
                    <source 
                    media="(min-width:768px)" 
                    srcset="/img/categories/Desktop/home/office@1x.png 1x, /img/categories/Desktop/home/office@2x.png 2x"
                    width="350">
                    <source 
                    media="(max-width:767px)"
                    srcset="/img/categories/mobile/home/office@1x.jpg 1x, /img/categories/mobile/home/office@2x.jpg 2x">
                    <img 
                    src="/img/categories/mobile/home/office@1x.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-categories">
                </picture>
                <p class="text-categories">Для офісів</p>
                <button type="button" class="btn-item-categories">Перейти</button>
            </li>
            <li class="item-categories">
                <picture>
                    <source 
                    media="(min-width:768px)" 
                    srcset="/img/categories/Desktop/home/home@1x.jpg 1x, /img/categories/Desktop/home/home@2x.jpg 2x"
                    width="350">
                    <source 
                    media="(max-width:767px)"
                    srcset="/img/categories/mobile/home/accessories@1x.jpg 1x, /img/categories/mobile/home/accessories@2x.jpg 2x">
                    <img 
                    src="/img/categories/mobile/home/accessories@1x.jpg" 
                    alt="lock"
                    width="161"
                    class="foto-categories">
                </picture>
                <p class="text-categories">Аксесуари</p>
                <button type="button" class="btn-item-categories">Перейти</button>
            </li>
        </ul>

        <button type="button" class="button-addition button-categories">Усі категорії</button>
    </div>
</section>