<section class="section-experience">
    <div class="container">
        <h2 class="visually-hidden">Наш досвіт</h2>

        <ul class="experience">
            <li class="number-text"><span class="number">100 000</span> <span class="text">Щасливих клієнтів</span></li>
            <li class="number-text"><span class="number">1245</span> <span class="text">Продуктів на вибір</span></li>
            <li class="number-text"><span class="number">372</span> <span class="text">Продажів на день</span></li>
            <li class="number-text"><span class="number">20</span> <span class="text">Років на ринку</span></li>
        </ul>
    </div>
</section>