<footer class="footer">
    <div class="container">
        <div class="logo-network">
            <a href="./index.html" 
            class="logo">
                <svg 
                class="icon-li" 
                width="70" 
                height="57">
                    <use href="./images/icons.svg#icon-Logo"></use>
                </svg>
            </a>

            <ul class="list-network">
                <li class="item-network">
                    <a href="#" 
                    target="_blank" 
                    class="link-network">
                        <svg 
                        Class="icon" 
                        width="24" 
                        height="24">
                        <use href="./images/icons.svg#icon-instagram">
                        </use>
                        </svg>
                    </a>
                </li>
                <li class="item-network">
                    <a href="#" 
                    target="_blank" 
                    class="link-network">
                        <svg 
                        Class="icon" 
                        width="24" 
                        height="24">
                        <use href="./images/icons.svg#icon-Twitter">
                        </use>
                        </svg>
                    </a>
                </li>
                <li class="item-network">
                    <a href="#" 
                    target="_blank" 
                    class="link-network">
                        <svg 
                        Class="icon" 
                        width="24" 
                        height="24">
                        <use href="./images/icons.svg#icon-facebook">
                        </use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="container-nav-address">
            <nav class="page-nav">

                <p class="title-page-nav">Навігація</p>
                <ul class="list-page-nav">
                    <li class="item-page-nav">
                        <a href="#" class="link">Головна</a>
                    </li>
                    <li class="item-page-nav">
                        <a href="#" class="link">Каталог</a>
                    </li>
                    <li class="item-page-nav">
                        <a href="#" class="link">Оптовий продаж</a>
                    </li>
                    <li class="item-page-nav">
                        <a href="#" class="link">Про нас</a>
                    </li>
                </ul>

                <div class="other">
                    <p class="title-contacts">Інше</p>

                        <ul class="list-contacts contacts-bottom">
                            <li class="item-contacts">
                                <a href="#" class="link-contacts">Доставка і оплата</a>
                            </li>
                            <li class="item-contacts">
                                <a href="#" class="link-contacts">Гарантії</a>
                            </li>
                            <li class="item-contacts contacts-bottom">
                                <a href="#" class="link-contacts">Повернення товару</a>
                            </li>
                        </ul>
                </div>
            </nav>

            <address class="contacts">
                <div class="container-tel-email">
                    
                    <p class="title-contacts">Наші контакти</p>
                    <ul class="list-contacts">
                        <li class="item-contacts">
                            <p class="text-contacts">Телефони</p>
                            <a href="tel:+110001111111" class="link-contacts">+11 (000) 111-11-11</a>
                        </li>
                        <li class="item-contacts">
                            <a href="tel:+110001111111" class="link-contacts">+11 (000) 111-11-11</a>
                        </li>
                        <li class="item-contacts">
                            <p class="text-contacts">Телефони</p>
                            <a href="mailto:info@devstudio.com" class="link-contacts">info@devstudio.com</a>
                        </li>
                        <li class="item-contacts">
                            <a href="mailto:info@devstudio.com" class="link-contacts">info@devstudio.com</a>
                        </li>
                    </ul>
                </div>

                <div class="our-address">
                    <p class="title-contacts">Нашa Адреса</p>
                        <ul class="list-contacts contacts-bottom">
                            <li class="item-contacts address-contacts">
                                <a href="#" class="link-contacts">Україна м. Харків вул. Спортивна, 5</a>
                            </li>
                            <li class="item-contacts address-contacts contacts-bottom">
                                <a href="#" class="link-contacts">Українa м. Полтава вул. Соборна, 1</a>
                            </li>
                        </ul>
                </div>
            </address>
        </div>
    </div>
</footer>