<section class="section-popular">
    <div class="container">

        <h2 class="title-five">Наші популярні продукти</h2>
        <ul class="list-five">
            <li class="item-five">
                <img
                srcset="./images/ДляГотелів/mobile/GoldenSoft.jpg 1x, ./images/ДляГотелів/mobile/GoldenSoft@2x.jpg 2x"
                src="./images/ДляГотелів/mobile/GoldenSoft.jpg"
                alt="lock" 
                width="288" 
                class="foto-five">
                <div class="text-price-five">
                    <p class="text-five">Дверний Замок Golden Soft для готелю</p>
                    <p class="price-five">1000 грн.</p>
                </div>
            </li>
            <li class="item-five">
                <img
                srcset="./images/ДляГотелів/mobile/GoldenSoftотеля.jpg 1x, ./images/ДляГотелів/mobile/GoldenSoftотеля@2x.jpg 2x"
                src="./images/ДляГотелів/mobile/GoldenSoftотеля.jpg"
                alt="lock" 
                width="288" 
                class="foto-five">
                <div class="text-price-five">
                    <p class="text-five">Дверний Замок Golden Soft для готелю</p>
                    <p class="price-five">1000 грн.</p>
                </div>
            </li>
            <li class="item-five">
                <img
                srcset="./images/ДляОфісів/mobile/RectFive.jpg 1x, ./images/ДляОфісів/mobile/RectFive@2x.jpg 2x"
                src="./images/ДляОфісів/mobile/RectFive.jpg"
                alt="lock" 
                width="288" 
                class="foto-five">
                <div class="text-price-five">
                    <p class="text-five">Дверний Замок Golden Soft для готелю</p>
                    <p class="price-five">1000 грн.</p>
                </div>
            </li>
            <li class="item-five">
                <img
                srcset="./images/ДляОфісів/mobile/GoldenSoftoОфіс.jpg 1x, ./images/ДляОфісів/mobile/GoldenSoftoОфіс2x.jpg 2x"
                src="./images/ДляОфісів/mobile/GoldenSoftoОфіс.jpg"
                alt="lock" 
                width="288" 
                class="foto-five">
                <div class="text-price-five">
                    <p class="text-five">Дверний Замок Golden Soft для готелю</p>
                    <p class="price-five">1000 грн.</p>
                </div>
            </li>
        </ul>
    </div>
</section>