<section class="section-why">
    <div class="container">

        <h2 class="title-gs">Чому GoldenService?</h2>
        <ul class="advantages-list">
            <li class="advantages-item">
                <div class="list-icon">
                    <svg class="icon-li" width="64" height="64">
                        <use href="./images/icons.svg#icon-product-return"></use></svg>
                </div>
                <p class="text">Повернення подвоєної вартості кожного замку у разі брака</p>
            </li>
            <li class="advantages-item">
                <div class="list-icon">
                    <svg class="icon-li" width="64" height="64">
                        <use href="./images/icons.svg#icon-evaluate"></use>
                    </svg>
                </div>
                <p class="text">Наносимо ваш логотип компанії на наш продукт</p>
            </li>
            <li class="advantages-item">
                <div class="list-icon">
                    <svg class="icon-li" width="64" height="64">
                        <use href="./images/icons.svg#icon-product-return"></use>
                    </svg>
                </div>
                <p class="text">Повернення подвоєної вартості кожного замку у разі брака</p>
            </li>
        </ul>
    </div>
</section>