.section-categories {
  padding: 40px 0px;
}

.title-categories {
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 24px;
}

.foto-categories {
  margin-bottom: 12px;
}

.text-categories {
  font-size: 14px;
  line-height: 1.71;
}

.link-item-categories {
  display: none;
}

@media (min-width: 768px) {
  .section-categories {
    padding: 40px 0px 60px;
  }
  .title-categories {
    font-size: 33px;
    line-height: 1.41;
    margin-bottom: 48px;
  }

  .list-categories {
    gap: 28px;
    margin-bottom: 30px;
  }

  .item-categories {
    position: relative;
  }

  .foto-categories {
    margin: 0;
  }

  .text-categories {
    position: absolute;
    bottom: 60px;
    left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.55;
  }

  .link-item-categories {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 130px;
    height: 30px;
    border: 1px solid #454f5b;
    border-radius: 2px;
    font-size: 12px;
    bottom: 20px;
    left: 20px;
    transition-property: color, background-color, border;
  }
}

@media (min-width: 1158px) {
  .section-categories {
    padding: 100px 0px;
  }

  .title-categories {
    font-size: 44px;
    margin-bottom: 64px;
  }

  .list-categories {
    margin-bottom: 50px;
  }

  .foto-categories {
    width: 545px;
  }

  .text-categories {
    font-size: 22px;
    bottom: 80px;
  }

  .link-item-categories {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    width: 220px;
    height: 50px;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    /* transition-delay: 100ms; */
  }

  .link-item-categories:hover {
    background-color: #2e81d0;
    color: white;
    border: none;
    /* transform: scale(1.1); */
    /* transform: rotate(180deg); */
  }
}
