@import url('../../global/reset.css');
@import url('../../global/index.css');
@import url('../../global/base.css');
@import url('../../../components/header/header.css');
@import url('../../../components/page-route/page-route.css');
@import url('../../../components/filter/filter.css');
@import url('../../../pages/catalog/overhead-electronic/overhead/overhead.css');
@import url('../../../pages/home/callback/callback.css');
@import url('../../../components/footer/footer.css');

@media (min-width: 768px) {
  .container {
    position: relative;
  }
  .cont-overhead {
    max-width: 695px;
  }

  .filter {
    max-width: 250px;
  }

  .filter .container {
    margin: 0;
  }

  .container-filter-overhead {
    display: flex;
    gap: 20px;
    padding-top: 78px;
  }

  .filter-popularity {
    display: grid;
    justify-content: flex-end;
  }

  .filter-popularity-input {
    width: 194px;
  }

  .filter-container {
    width: 250px;
    margin-bottom: 40px;
  }

  .filter-button .btn-categories:last-child {
    display: block;
    width: 250px;
    height: 40px;
  }

  /* .list-overhead {
    margin-bottom: 0;
  }

  .item-overhead:last-child {
    margin-bottom: 24px;
  } */

  .title-overhead {
    font-size: 28px;
    line-height: 1.5;
    position: absolute;
    top: 0px;
    right: 50%;
    padding: 0;
    margin: 0;
  }

  .text-overhead {
    font-size: 16px;
    line-height: 1.62;
  }

  .price {
    font-size: 20px;
  }

  .overhead-electronic-title {
    margin-bottom: 32px;
    font-size: 28px;
    line-height: 1.5;
  }
}

@media (min-width: 1158px) {
  .title-overhead {
    right: 67%;
  }

  .item-overhead {
    width: 270px;
  }

  .cont-overhead {
    max-width: 848px;
  }

  .item-overhead:last-child {
    margin-bottom: 30px;
  }

  .item-overhead:hover {
    transform: scale(1.05);
  }
}
