:root {
  --white: #ffffff;
  --black: #161c24;
  --grey: #454f5b;
  --light-grey: #c4cdd5;
  --grey: #454f5b;
  --stroke: #eaeaea;
  --primary: #00999e;
  --main: #4295e4;
  --light-blue: #add7ff;
  --text-disable: #e44286;
  --bg-light: #f2f8ff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.list-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 20px;
  margin-bottom: 24px;
  justify-content: center;
}

.btn-categories {
  min-width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  background-color: #4295e4;
  border-radius: 4px;
}

.btn-categories:active {
  background-color: #2e81d0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------menu-mobal---------*/
.modal-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: auto;
}

.modal-menu-overlay.is-open {
  opacity: 1;
  visibility: inherit;
  pointer-events: auto;
}

@media (max-width: 374px) {
  .experience,
  .list-four {
    justify-content: center;
  }
}

@media (max-width: 337px) {
  .container-nav-address {
    gap: 20px;
  }
}

/*------------@media-768px-------------*/
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }

  .btn-categories {
    margin: 0 auto;
    display: block;
    font-size: 14px;
    min-width: 150px;
    height: 40px;
  }
}

/*------------@media-1158px-------------*/
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .btn-categories {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }

  .btn-categories:hover {
    background-color: #2e81d0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item-categories:hover {
    transform: scale(1.05);
  }
}
