.pages-section-categories {
}
.container {
}

.title-section-categories {
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 24px;
}

.list-categories {
}

.item-categories {
}

.foto-section-categories {
  margin-bottom: 12px;
}

.gallery {
}

.text-section-categories {
  max-width: 155px;
}

.btn-categories {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .pages-section-categories {
  }
  .container {
  }

  .home-logo {
  }
  .icon-home {
  }

  .title-section-categories {
    font-size: 33px;
    line-height: 1.41;
    margin-bottom: 40px;
  }

  .list-categories {
    margin-bottom: 50px;
    gap: 35px 19px;
  }

  .item-categories {
  }
  .foto-section-categories {
  }
  .gallery {
  }

  .text-section-categories {
    max-width: none;
  }

  .btn-categories {
    margin: 0 auto 70px;
  }
}

@media (min-width: 1158px) {
  .pages-section-categories {
  }
  .container {
  }
  .nav-section-categories {
  }
  .list-nav-section-categories {
  }
  .home-logo {
  }
  .icon-home {
  }
  .item-nav-section-categories {
  }
  .link-nav-section-categories {
  }

  .title-section-categories {
    font-size: 44px;
    margin-bottom: 64px;
  }

  .list-categories {
    gap: 50px 30px;
  }

  .item-categories {
  }
  .foto-section-categories {
  }
  .gallery {
  }
  .text-section-categories {
  }

  .btn-categories {
    margin: 0 auto 100px;
  }
}
