.btn-categories {
}

.title-categories {
  font-size: 22px;
  line-height: 1.55;
  text-align: center;
  margin-bottom: 24px;
}

.foto-categories {
  margin-bottom: 12px;
  border-radius: 10px;
  width: 161px;
  height: 161px;
}

.text-categories {
  max-width: 155px;
}

.link-item-categories {
  display: none;
}

.btn-categories {
  margin-bottom: 40px;
}

#btn-show-categories {
  display: none;
}

@media (min-width: 768px) {
  .title-categories {
    font-size: 33px;
    line-height: 1.41;
    margin-bottom: 40px;
  }

  .foto-categories {
    width: 230px;
    height: 200px;
  }

  .list-categories {
    margin-bottom: 50px;
    gap: 35px 19px;
  }

  .text-categories {
    max-width: none;
  }

  .btn-categories {
    margin: 0 auto 70px;
  }
}

@media (min-width: 1158px) {
  .title-categories {
    font-size: 44px;
    margin-bottom: 64px;
  }

  .foto-categories {
    width: 257px;
    height: 240px;
  }

  .list-categories {
    gap: 50px 30px;
  }

  .btn-categories {
    margin: 0 auto 100px;
  }
}
